# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other stuff
.DS_Store
._*
*~
Makefile
configure
config.h
config.log
config.status
autom4te.cache
treePL

# Eclipse stuff
.cproject
.project
.settings
