# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other stuff
.DS_Store
._*
*~
config.log
config.status
Makefile
treePL
